<section class="spacer">
  <div></div>
</section>

<section class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <div class="footer-icon"></div>
      <div class="footer-text">Anime SMP</div>
    </div>

    <div class="links">
      <a href="" class="footer-item">
        {{ "footer.quickLinks.settings" | translate }}</a
      >
      <a href="" class="footer-item">{{
        "footer.quickLinks.feed" | translate
      }}</a>
      <a href="" class="footer-item">{{
        "footer.quickLinks.dashboard" | translate
      }}</a>
    </div>

    <div class="links">
      <a href="" class="footer-item">{{
        "footer.quickLinks.logout" | translate
      }}</a>
      <a href="" class="footer-item">{{
        "footer.quickLinks.profile" | translate
      }}</a>
      <a href="" class="footer-item">Copyright</a>
    </div>
  </div>
</section>
