$black: #0d0d0d;
$snow: snow;
$white: white;
$purple: #6000ea;
$gray: #e0e0e0;
$light-gray: #f3f3f3;

$main-color: #2b4eff;
$secondary-color: #0b1340;

// socials colors
$facebook: #4267b2;
$twitter: #00acee;
