// landing page images
$intro-svg: url("../images/Intro.svg");
$instructor-svg: url("../images/Instructor.svg");
$marketer-svg: url("../images/Marketer.svg");
$office-hours: url("../images/office\ hour.svg");
$online-consultation: url("../images/Online\ consultation\ .svg");
$private-tutor: url("../images/Private\ tutor.svg");

// about us images
$about-us-svg: url("../images/About\ us\ Intro.svg");

// services images
$intro-services: url("../images/Services_Intro.svg");

// sign-up
$sign-up: url("../images/Sign_up.svg");
$sign-up-student: url("../images/Sign_up_Student.svg");
$sign-up-instructor: url("../images/Sign_up_Instructor.svg");
$sign-up-marketer: url("../images/Sign_up_Affiliate.svg");

//forget-password
$forget-password: url("../images/Forgot_Password.svg");

//info
$marketer-intro-info: url("../images/Marketer-intro-info.svg");
$info-marketer: url("../images/OnlinevsTraditional.svg");

// info instructor
$handbooks-svg: url("../images/Handbooks.svg");

// Service icons
$office-hours-icon: url("../images/service-icons/Office-Hour.svg");
